.bundle/
.rspec
.rvmrc
Gemfile.lock
README.rdoc
coverage/
spec/dummy/README.rdoc
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/config/initializers/secret_token.rb
spec/dummy/config/mongoid.yml
